textarea {
    resize: none;
}

.col-sm-9 .answer-wrapper {
    padding-left: 0px;
}

.col-sm-9 .item {
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 0px;
}

.item-wrapper {
    margin-bottom: 10px;
}

.comment-wrapper {
    /*display: none;*/
    margin-top: 5px;
    margin-bottom: 2px;
}

.comment-wrapper>.comment-content, .col-sm-9.comment-create-form, .col-sm-offset-3.col-sm-9.comment-links {
    padding: 0px;
    display: block;
}

.col-sm-9.comment-create-form>.form-group {
    margin-top: 0px;
}

.comment-links, .comment-content>span {
    display: block;
}

.comment-content>span:not(:empty) {
    border: 1px solid lightgrey;
}

.comment-counter {
    padding-left: 0px !important;
}

.col-sm-9.create-comment-link {
    padding-left: 0px;
}

.bg-grey {
    background-color: #eff0f1;
}

.vote {
    text-align: center;
}

.vote a {
    text-decoration: none;
}

.vote span {
    display: block;
    vertical-align: baseline;
}

.vote-count-post {
    margin: 8px 0;
}

.vote-up-off {
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 40px;
    margin-bottom: 2px;
    cursor: pointer;
    background-position: -2px 12px;
    background-image: url(../../images/uparrow.png);
    background-size: initial;
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: baseline;
}

.vote-down-off {
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    background-position: -5px -8px;
    background-image: url(../../images/downarrow.png);
    background-size: initial;
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: baseline;
}

.show-hide-comments {
    display: inline-block;
    margin: 0 auto;
    height: 24px;
    width: 40px;
    cursor: pointer;
    background-position: -4px -2px;
    background-image: url(../../images/downarrow.png);
    background-repeat: no-repeat;
    overflow: hidden;
    vertical-align: text-top;
    background-size: 100%;
}