{LIST}
<tr class="{CSS_ROW}">
<!-- BEGIN firstname -->
    <td class="std small">
        {FIRSTNAME}
    </td>
<!-- END firstname -->
<!-- BEGIN lastname -->
    <td class="std small">
        {LASTNAME}
    </td>
<!-- END lastname -->
<!-- BEGIN submissiondate -->
    <td class="std small">
        {SUBMISSIONDATE}
    </td>
<!-- END submissiondate -->
<!-- BEGIN itemtitle -->
    <td class="std small">
        {ITEMTITLE}
    </td>
<!-- END itemtitle -->
<!-- BEGIN assessed -->
    <td class="std small">
        {ASSESSED}
    </td>
<!-- END assessed -->
<!-- BEGIN maxpoints -->
    <td class="std small">
        {MAXPOINTS}
    </td>
<!-- END maxpoints -->
<!-- BEGIN numberofusedhints -->
    <td class="std small">
        {NUMBEROFUSEDHINTS}
    </td>
<!-- END numberofusedhints -->
<!-- BEGIN pointsteacher -->
    <td class="std small">
        {POINTSTEACHER}
    </td>
<!-- END pointsteacher -->
<!-- BEGIN additionalpointsvoting -->
    <td class="std small">
        {ADDITIONALPOINTSVOTING}
    </td>
<!-- END additionalpointsvoting -->
<!-- BEGIN points -->
    <td class="std small">
        {TOTALPOINTS}
    </td>
<!-- END points -->
<!-- BEGIN number_up_votings -->
    <td class="std small">
        {NUMBERUPVOTINGS}
    </td>
<!-- END number_up_votings -->
    <td class="std small">
        {ACTIONS}
    </td>
</tr>