{LIST}
<tr class="{CSS_ROW}">
    <td class="std small">
        {FIRSTNAME}
    </td>
    <td class="std small">
        {LASTNAME}
    </td>
    <td class="std small">
        {SUBMISSIONDATE}
    </td>
    <td class="std small">
        {ITEMTITEL}
    </td>
    <td class="std small">
        {ASSESSED}
    </td>
    <td class="std small">
        {MAXPOINTS}
    </td>
    <td class="std small">
        {NUMBEROFUSEDHINTS}
    </td>
    <td class="std small">
        {POINTSTEACHER}
    </td>
    <td class="std small">
        {ADDITIONALPOINTSVOTING}
    </td>
    <td class="std small">
        {TOTALPOINTS}
    </td>
    <td class="std small">
        {NUMBERUPVOTINGS}
    </td>
    <td class="std small">
        {ACTIONS}
    </td>
</tr>