<div class="row xase-answer-vote-form-element">
    <div class="row xase-item item-wrapper">
        <div class="col-xs-offset-3 item">
            <!--Itemtext...-->
            <p style="font-weight: bold">{ITEM}</p>
            <p style="color: grey" class="item-creator">{ITEM_CREATOR}</p>
        </div>
    </div>
    <!-- BEGIN answer_form -->
    <div class="row xase-answer" id="{ANSWER_ID}">
        <input type="hidden" name="answer[{ANSWER_ID}][is_voted_by_current_user]" value="{IS_VOTED}">
        <input type="hidden" name="answer[{ANSWER_ID}][answer_id]" value="{ANSWER_ID}">
        <div class="col-xs-3 vote">
            <!--Voting-->
            <a class="vote-up-off" title="This answer is useful"></a>
            <span itemprop="upvoteCount" class="vote-count-post ">{NUMBEROFUPVOTINGS}</span>
            <a class="vote-down-off" style="display: none" title="This answer is not useful"></a>
            <span style="color:red; display:none" class="voting_error">{VOTE_ERROR_TEXT}</span>
        </div>
        <div class="col-xs-9 answer-wrapper" style="padding-left: 0px">
            <!--AnswerText-->
            {ANSWER}
            <p style="color: grey" class="answer-creator">{ANSWER_CREATOR}</p>
        </div>
    </div>
    <div class="row xase-comment-counter">
        <div class="col-xs-offset-3">
            <!--<div class="col-xs-9 comment-counter">-->
                <label class="control-label comment-counter-label"><span class="ilAccHeadingHidden">{PHID_TITLE}</span>{NUMBER_OF_COMMENTS} {COMMENT_TEXT}</label><a class="show-hide-comments" title="Show or hide comments"></a>
            <!--</div>-->
        </div>
    </div>
    <div class="row xase-comments">
        <div class="col-xs-offset-3">
            {COMMENT_FORM}
            <!--CommentForm-->
        </div>
    </div>
    <!-- END answer_form -->
</div>
