<tr class="{CSS_ROW}">
    <!-- BEGIN TITLE -->
    <td class="std small">
        {TITLE}
    </td>
    <!-- END TITLE -->

    <!-- BEGIN STATUS -->
    <td class="std small">
        {STATUS}
    </td>
    <!-- END STATUS -->

    <!-- BEGIN CREATEDBY -->
    <td class="std small">
        {CREATED_BY}
    </td>
    <!-- END CREATEDBY -->

    <!-- BEGIN MAXPOINTS -->
    <td class="std small">
        {MAXPOINTS}
    </td>
    <!-- END MAXPOINTS -->

    <!-- BEGIN NUMBEROFUSEDHINTS -->
    <td class="std small">
        {NUMBEROFUSEDHINTS}
    </td>
    <!-- END NUMBEROFUSEDHINTS -->

    <!-- BEGIN POINTS -->
    <td class="std small">
        {POINTS}
    </td>
    <!-- END POINTS -->

    <!-- BEGIN POINTSTEACHER -->
    <td class="std small">
        {POINTSTEACHER}
    </td>
    <!-- END POINTSTEACHER -->

    <!-- BEGIN ADDITIONALPOINTSVOTING -->
    <td class="std small">
        {ADDITIONALPOINTSVOTING}
    </td>
    <!-- END ADDITIONALPOINTSVOTING -->

    <!-- BEGIN TOTALPOINTS -->
    <td class="std small">
        {TOTALPOINTS}
    </td>
    <!-- END TOTALPOINTS -->

    <!-- BEGIN ISVOTED -->
    <td class="std small">
        {ISVOTED}
    </td>
    <!-- END ISVOTED -->

    <!-- BEGIN NUMBEROFUPVOTINGS -->
    <td class="std small">
        {NUMBEROFUPVOTINGS}
    </td>
    <!-- END NUMBEROFUPVOTINGS -->

    <!-- BEGIN HIGHESTRATED -->
    <td class="std small">
        {HIGHESTRATED}
    </td>
    <!-- END HIGHESTRATED -->

    <td class="std small">
        {ACTIONS}
    </td>
</tr>