<div class="hint_form" id="{HINT_FORM_ID}" {DISPLAY}>
    <input type="hidden" name="hint[][is_template]" value="1">
    <div class="hint_to">
        <label class="col-sm-3 control-label">Tipp zu:</label>
        <div class="col-sm-9">
            <label></label>
            <input type="hidden" name="hint[][label]" value="{HIDDEN_LABEL_INPUT}">
            <input type="hidden" name="hint[][hint_id]" value="{HINT_ID}">
        </div>
    </div>
    <!-- BEGIN lvl_1_hint -->
    <label for="{LAB_ID}" class="col-sm-3 control-label">{PROPERTY_TITLE}<span class="ilAccHeadingHidden">{PHID_TITLE}</span><span class="asterisk">*</span></label>
    <div class="col-sm-9">
        {LVL_1_HINT}
    </div>
    <!-- END lvl_1_hint -->

    <!-- BEGIN lvl_1_minus_points -->
    <label for="{LAB_ID}" class="col-sm-3 control-label">{PROPERTY_TITLE}<span class="ilAccHeadingHidden">{PHID_TITLE}</span><span class="asterisk">*</span></label>
    <div class="col-sm-9">
        {LVL_1_MINUS_POINTS}
    </div>
    <!-- END lvl_1_minus_points -->

    <!-- BEGIN lvl_2_hint -->
    <label for="{LAB_ID}" class="col-sm-3 control-label">{PROPERTY_TITLE}<span class="ilAccHeadingHidden">{PHID_TITLE}</span><!-- BEGIN required_lvl_2_hint --><span class="asterisk">*</span><!-- END required_lvl_2_hint --></label>
    <div class="col-sm-9">
        {LVL_2_HINT}
    </div>
    <!-- END lvl_2_hint -->

    <!-- BEGIN lvl_2_minus_points -->
    <label for="{LAB_ID}" class="col-sm-3 control-label">{PROPERTY_TITLE}<span class="ilAccHeadingHidden">{PHID_TITLE}</span><!-- BEGIN required_lvl_2_minus_points --><span class="asterisk">*</span><!-- END required_lvl_2_minus_points --></label>
    <div class="col-sm-9">
        {LVL_2_MINUS_POINTS}
    </div>
    <!-- END lvl_2_minus_points -->

    <!-- BEGIN remove_btn -->
    <div class="col-sm-9">
        {REMOVE_HINT_BUTTON}
    </div>
    <!-- END remove_btn -->
    <!-- BEGIN existing_hint_data -->
    <span class="existing-hint-data" data-hints="{CONTENT}" data-level-1="{CONTENT_LEVEL_1}" data-level-2="{CONTENT_LEVEL_2}" data-level-1-minus-points="{CONTENT_LEVEL_1_MINUS_POINTS}" data-level-2-minus-points="{CONTENT_LEVEL_2_MINUS_POINTS}"></span>
    <!-- END existing_hint_data -->
</div>

