<div class="answer_form" id="{ANSWER_FORM_ID}" {DISPLAY}>
    <input type="hidden" name="answer[][is_voted_by_current_user]" value="{IS_VOTED}">
    <input type="hidden" name="answer[][answer_id]" value="{ANSWER_ID}">

    <!-- BEGIN voting -->
    <div class="col-sm-3 vote">
        <img alt="^" title="vote up" src="../images/uparrow.png" />
    </div>
    <label for="{LAB_ID}" class="col-sm-3 control-label">{PROPERTY_TITLE}<span class="ilAccHeadingHidden">{PHID_TITLE}</span><span class="vote"></span></label>
    <div class="col-sm-9">
        {LVL_1_HINT}
    </div>
    <!-- END voting -->

    <!-- BEGIN lvl_1_minus_points -->
    <label for="{LAB_ID}" class="col-sm-3 control-label">{PROPERTY_TITLE}<span class="ilAccHeadingHidden">{PHID_TITLE}</span><span class="asterisk">*</span></label>
    <div class="col-sm-9">
        {LVL_1_MINUS_POINTS}
    </div>
    <!-- END lvl_1_minus_points -->

    <!-- BEGIN lvl_2_answer -->
    <label for="{LAB_ID}" class="col-sm-3 control-label">{PROPERTY_TITLE}<span class="ilAccHeadingHidden">{PHID_TITLE}</span><!-- BEGIN required_lvl_2_answer --><span class="asterisk">*</span><!-- END required_lvl_2_answer --></label>
    <div class="col-sm-9">
        {LVL_2_HINT}
    </div>
    <!-- END lvl_2_answer -->

    <!-- BEGIN lvl_2_minus_points -->
    <label for="{LAB_ID}" class="col-sm-3 control-label">{PROPERTY_TITLE}<span class="ilAccHeadingHidden">{PHID_TITLE}</span><!-- BEGIN required_lvl_2_minus_points --><span class="asterisk">*</span><!-- END required_lvl_2_minus_points --></label>
    <div class="col-sm-9">
        {LVL_2_MINUS_POINTS}
    </div>
    <!-- END lvl_2_minus_points -->

    <!-- BEGIN save_btn -->
    <div class="col-sm-9">
        {SAVE_BTN}
    </div>
    <!-- END save_btn -->
    <!-- BEGIN existing_answer_data -->
    <span class="existing-answer-data" data-answers="{CONTENT}" data-level-1="{CONTENT_LEVEL_1}" data-level-2="{CONTENT_LEVEL_2}" data-level-1-minus-points="{CONTENT_LEVEL_1_MINUS_POINTS}" data-level-2-minus-points="{CONTENT_LEVEL_2_MINUS_POINTS}"></span>
    <!-- END existing_answer_data -->
</div>

