<!-- BEGIN lvl_hint -->
<label for="{ID}" class="col-sm-3 control-label">{LEVEL_LABEL}</label>
<input class="form-control" <!-- BEGIN submit_form_on_enter -->onkeypress="return il.Util.submitOnEnter(event, this.form);"<!-- END submit_form_on_enter --> type="{PROP_INPUT_TYPE}"id="{ID}" maxlength="{MAXLENGTH}" name="{POST_VAR}" <!-- BEGIN prop_text_propval -->value="{PROPERTY_VALUE}" <!-- END prop_text_propval -->{DISABLED} {AUTOCOMPLETE} {REQUIRED}/> {INPUT_SUFFIX}
<!-- END lvl_hint -->

<div class="form-inline">
<!-- BEGIN lvl_minus_points -->
    <label for="{ID}" class="col-sm-3 control-label">{LEVEL__MINUS_POINTS_LABEL}</label>
    <div>
        <input style="margin-top:4px;margin-bottom: 4px" class="form-control" type="text" size="{SIZE}" id="{ID}" maxlength="{MAXLENGTH}" name="{POST_VAR}" <!-- BEGIN prop_number_propval -->value="{PROPERTY_VALUE}" <!-- END prop_number_propval -->{DISABLED} {REQUIRED} /> {INPUT_SUFFIX}
    </div>
</div>
<!-- END lvl_minus_points -->

<!-- BEGIN lvl_hint -->
<label for="{ID}" class="col-sm-3 control-label">{LEVEL_LABEL}</label>
<input class="form-control" <!-- BEGIN submit_form_on_enter -->onkeypress="return il.Util.submitOnEnter(event, this.form);"<!-- END submit_form_on_enter --> type="{PROP_INPUT_TYPE}"id="{ID}" maxlength="{MAXLENGTH}" name="{POST_VAR}" <!-- BEGIN prop_text_propval -->value="{PROPERTY_VALUE}" <!-- END prop_text_propval -->{DISABLED} {AUTOCOMPLETE} {REQUIRED}/> {INPUT_SUFFIX}
<!-- END lvl_hint -->

<div class="form-inline">
    <!-- BEGIN lvl_minus_points -->
    <label for="{ID}" class="col-sm-3 control-label">{LEVEL__MINUS_POINTS_LABEL}</label>
    <div>
        <input style="margin-top:4px;margin-bottom: 4px" class="form-control" type="text" size="{SIZE}" id="{ID}" maxlength="{MAXLENGTH}" name="{POST_VAR}" <!-- BEGIN prop_number_propval -->value="{PROPERTY_VALUE}" <!-- END prop_number_propval -->{DISABLED} {REQUIRED} /> {INPUT_SUFFIX}
    </div>
</div>
<!-- END lvl_minus_points -->

<!-- BEGIN CODE -->
<div>{REMOVE_HINT_BUTTON}</div>
<!-- END CODE -->